@model IEnumerable<PeopleSearch.Models.Person>
@{
	ViewBag.Title = "People";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>People</h2>
<table id="persons" class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Birthday</th>
			<th>Address</th>
			<th>Date Added</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@*foreach (var person in Model)
		{
			<tr>
				<td>@person.Name</td>
				<td>@person.DateOfBirth</td>
				<td>@person.Address</td>
				<td>@person.Added</td>
				<td>
					<div class="button-group" role="group" data-person-id="@person.Id">
						<a href="/persons/view/@person.Id" class="btn btn-default btn-sm" title="View" aria-label="View"><span class="glyphicon glyphicon-eye-open"></span></a>
						<a href="/persons/edit/@person.Id" class="btn btn-default btn-sm" title="Edit" aria-label="Edit"><span class="glyphicon glyphicon-pencil"></span></a>
						<button class="btn btn-default btn-sm js-delete" title="Delete" aria-label="Delete"><span class="glyphicon glyphicon-remove"></span></button>
						<!--<button class="btn btn-default btn-sm js-view" title="View" aria-label="View"><span class="glyphicon glyphicon-eye-open"></span></button>
						<button class="btn btn-default btn-sm js-edit" title="Edit" aria-label="Edit"><span class="glyphicon glyphicon-pencil"></span></button>
						<button class="btn btn-default btn-sm js-delete" title="Delete" aria-label="Delete"><span class="glyphicon glyphicon-remove"></span></button>-->
					</div>
				</td>
			</tr>
		}*@
	</tbody>
</table>
@section scripts
{
	<script>
		$(document).ready(function ()
		{
			var personTable = $("#persons").DataTable({
				ajax: {
					url: "/api/persons",
					dataSrc: ""
				},
				processing: true,
				searching: true,
				columns: [
					{
						data: "name"
					},
					{
						data: "dateOfBirth",
						render: function(data)
						{
							var dob = Date.parse(data);
							return dob.toString("MM/dd/yyyy");
						}
					},
					{
						data: "address"
					},
					{
						data: "added",
						render: function (data)
						{
							var addedDate = Date.parse(data);
							return addedDate.toString("MM/dd/yyyy");
						}
					},
					{
						data: "id",
						orderable: false,
						searchable: false,
						render: function(data) {
							var actionHtml = "<div class='button-group' role='group'>";
							actionHtml += "<a href='/persons/edit/" + data + "' class='btn btn-default btn-sm' title='Edit' aria-label='Edit'><span class='glyphicon glyphicon-pencil'></span></a>";
							actionHtml += "<button data-person-id='" + data + "' class='btn btn-default btn-sm js-delete' title='Delete' aria-label='Delete'><span class='glyphicon glyphicon-remove'></span></button>";
							actionHtml += "</div>";

							return actionHtml;
						}
					}
				]
			});

			personTable.on("click",
				".js-delete",
				function() {
					var delClicked = $(this);

					bootbox.confirm("Are you sure you want to delete this person?",
						function(result) {
							if (result) {
								$.ajax({
									url: "/api/persons/" + delClicked.attr("data-person-id"),
									method: "DELETE",
									success: function() {
										personTable.row(delClicked.parents("tr")).remove().draw();
									}
								});
							}
						});
				});

		});
	</script>
}